
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.cabecalho, .conteudo, .rodape {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.pagina-inicio {
  font-size: 100%;
  background-color: #a09e9ea4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

